<ion-header>
    <ion-toolbar>
        <ion-title>Create Form</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">Back</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Add Field</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>
    <ion-button (click)="closeModal()" expand="full" color="success">Save and Close</ion-button>
</ion-footer>
