<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div id="container">
        <strong>Ready to create an app?</strong>
        <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    </div>

    <ion-button (click)="openModal()" expand="block">Open Modal</ion-button>

    <!-- <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="forms-list">
                <ion-icon src="./assets/icon/form.svg"></ion-icon>
                <ion-label>Forms</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="tab2">
                <ion-icon src="./assets/icon/toolbox.svg"></ion-icon>
                <ion-label>Equipment</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs> -->


</ion-content>
